<h1>New Orleans Short Term Rental Report</h1>
<h4><i>Examining the effects of short term rentals on the New Orleans housing market.</i></h4>
<br>
<p>Utilizing data that is regularly collected from Airbnb and HomeAway -- two major <b>short term rental (STR)</b> providers -- this website provides a framework for better understanding the impact of unpermitted short term rentals in the city of New Orleans. The primary issues related to short term rentals center around affordability and access. Reserving available housing stock strictly for tourists inflates the cost of housing while decreasing living options for long term residents. The unchecked conversion of residential housing into private commercial space threatens the communal fabric of neighborhoods and the very character of the city.</p>
<br>
<h4>The rental competition: transients vs. residents.</h4>
<ul>
<li>Tourists and residents are competing over a limited supply of housing stock. The lack of city-wide regulation of illegal short term rentals exacerbates this problem. STRs are affecting the housing market by constricting supply, increasing demand, and raising prices of long-term rentals.</li>
<li>Competing with tourist dollars is particularly daunting  for residents living in neighborhoods with rising rents. The prospect of profit incentivizes short term rentals that allows a host to earn far more than a long-term renter would be willing or able to pay.</li>
<li>Cost of living in New Orleans is rising, and wages are stagnant. While some operators are using Airbnb as a way to supplement their incomes and stay in their homes, overall the results are harmful to residents.</li>
