<div class="home-header">
  <h1>About</h1>
</div>
<p>The Nola Short Term Rental Report is a living document. The content and data is likely to improve as research and analysis continue. The listings featured on the map are collected using the <a href="https://zilyo.com/" target="_blank">Zilyo</a> API. After these listings are compiled, the individual listings in this compiled list are analyzed in order to collect additional data on the listings themselves and on user behavior. The data is updated every three days. For a more detailed analysis of data related specifically to Airbnb both in New Orleans and in many other cities, please visit <a href="http://insideairbnb.com/" target="_blank">Inside Airbnb</a>.</p>
<h3>GET THE DATA</h3>
<p>Our data is available for download as comma-seperated text files. <b>If you use our data, please consider donating to our volunteer-run project in order to help keep our servers running.</b><p> 
<p>Download the delimited text files here: <a href="assets/data/airbnb.csv" download>Airbnb</a> |  <a href="assets/data/homeaway.csv" download>HomeAway</a></p>

<h3>DISCLAIMER</h3>
<p>Although the data featured in the report have been produced and processed from information that is publicly advertised on vacation rental websites, no warranty is made regarding accuracy, adequacy, completeness, legality, reliability or usefulness of any information. There is no gaurantee as to the spatial accuracy of individual vacation rental listings featured on the map. These spatial points are not associated with residential addresses, and are only intended to communicate the general area of the listing.</p>
