<div class="home-header">
  <h1>About</h1>
</div>
<p>
	The Nola Short Term Rental Report is a living document. The content and data is likely to improve as research and analysis continue. The featured data is collected in part by using the <a href="https://zilyo.com/" target="_blank">Zilyo</a> API. For a more detailed analysis of data related specifically to Airbnb both in New Orleans and in many other cities, please visit <a href="http://insideairbnb.com/" target="_blank">Inside Airbnb</a>.
</p>
<p>
	<a href="http://www.andruokun.com/" target="_blank">Andru Okun</a> and Breonne DeDecker do the research and write the content. <a href="http://darinacosta.com/" target="_blank">Darin Acosta</a> writes the code. Special thanks to Elizabeth Williams, Jeffrey Goodman, Annie, Daniel Murphy, Amelia Bowers, Murray Cox, Amitai Heller, Irina Vinnitskaya and anyone else who we pestered along the way.
</p>  
  
<h3>GET THE DATA</h3>
<p>Our data is available for download as comma-seperated text files. <b>If you use our data, please consider <a href="#/donate">donating</a> to our volunteer-run project in order to help keep our servers running.</b><p> 
<p>Download the delimited text files here: <a href="assets/data/airbnb.csv" download>Airbnb</a> |  <a href="assets/data/homeaway.csv" download>HomeAway</a></p>

<h3>DISCLAIMER</h3>
<p><b>The coordinates of the data points featured on the map are provided by the short term rental listing websites, and the spatial accuracy is not precise</b>. They are not associated with specific addresses, and are only intended to communicate the general area of the listing. Although both the spatial and non-spatial data featured across the site have been produced and processed from information that is publicly advertised on vacation rental websites, no warranty is made regarding accuracy, adequacy, completeness, legality, reliability or usefulness of the data.</p>
