html, body {
  height: 100%;
  background-color:#E2E2E2;
}

body {
  padding: 50px 0 0 0;
  margin: 0;
  font-family: "jaf-bernino-sans","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
}

a, a:active, a:active{
  color: rgb(154, 55, 55);
  cursor: pointer;
}

a:hover, a:visited{
  color: rgb(168, 83, 83);
  text-decoration: none;
}

.bib-resource:nth-child(odd) {
  clear: left;
}

.caption{
  margin-bottom:10px;
}

.top-scroll-wrapper{
  text-decoration:underline;
  text-align:right;
  font-size:small;
}

.top-scroll-wrapper a{
  color:#858585;
}

.form-container .btn {
  background-color: #404040;
  border-color: #404040;
  color: white;
  -webkit-transition: background linear 3350ms;
  -moz-transition: background linear 3350ms;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

h3{
  font-size:22px;  
}

.home-header{
  color:#E2E2E2;
  text-align: center;
  background-color: #404040;
  padding: 1px 0px;
  border-bottom: 1px solid #FFFCFC;
  margin-bottom:10px;
}

.sidebar-subtitle-wrapper{
  background-color: #B9B9B9;
  color: #555555;
  text-align: center;
  padding: 1px 0px;
  margin-bottom:10px;
}

.home-header h4{
  color:#E2E2E2;
}

td{
  padding: 2px 2px;
  font-size: 12px;
}

h4{
 color:#404040;
}

#main-body{
 line-height:20px;
}

.custom-callout{
  line-height:30px;
  font-size:20px;
}

.chart-content-container{
  text-align: center;
  border: 1px solid #8A8A8A;
  background-color: #F3F3F3;
  margin: 0px 0 10px 0;
  padding-bottom: 5px;
  box-shadow: 0px 7px 9px #9A9A9A;
}


.infobar{
  position: relative;
  display: block;
  padding: 2px 15px;
  text-decoration: none;
  list-style-type: none;
}

.infobar td{
  font-size: 10px;
}

div.info.legend.leaflet-control{
  background-color: rgba(212, 212, 212, 0.52);
}

.legend .circle {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  margin-top: 8px;
}

.leaflet-bar a{
  color: black;
}

.leaflet-popup-content a{
  color: rgb(154, 55, 55);
}

.navmenu-brand{
  padding: 0px 15px;
}

#loader {
  position: fixed;
  top: 43%;
  left: 50%;
  width: 30em;
  height: 18em;
  font-size: 70px;
}

#last-update{
  font-style: italic;
  padding: 0px 15px 1px 15px;
}

#map{
  height:375px;
  border-bottom: 2px solid #fff;
}

#map-legend{
  position: absolute;
  right: 20px;
  z-index: 1000;
  top: 315px;
}

#user-search-bar{
  width: 85px;
}

.container {
  max-width: 100%;
}

.dropdown-menu>li>a{
  padding: 7px 20px;
}

.menu-area{
  padding:0px 15px;
}

.navmenu-nav.dropdown-menu {  /*Added this to fix the menu on Android. Remove if it doesn't work */
  position:relative; 
}

.navbar{
  margin-bottom:0px;
}

.navmenu {
  padding-top: 50px;
}

.navbar {
  display: block;
  text-align: center;
}
.navbar-brand {
  display: inline-block;
  float: none;
}
.navbar-toggle {
  position: absolute;
  float: left;
  margin-left: 15px;
}

/* form style adjustments */
.navmenu .form-control{display: inline-block;}

@media (min-width: 1px) {
  .navbar-toggle {
    display: block !important;
  }
}

@media (min-width: 992px) {
  body {
    padding: 0 0 0 300px;
  }
  .navmenu {
    padding-top: 0;
  }
  .navbar {
    display: none !important; /* IE8 fix */
  }
  #map-legend{
    top: 262px;
  }
}

@media (max-width: 420px){
  th{
    font-size: 11px;
  }

  .table>thead>tr>th{
    padding:0px;
  }

  table.table>tbody>tr>td{
    padding: 3px;
    font-size: 12px;
  }
}
