<div class="container">
<h1>Data Disclaimer</h1>
<p>Although the data featured on the New Orleans Rental Report has been produced and processed from information that is publicly advertised on vacation rental websites, no warranty, expressed or implied, is made regarding accuracy, adequacy, completeness, legality, reliability or usefulness of any information. There is no gaurantee, express or implied, as to the spatial accuracy of individual vacation rental listings featured on the map. These spatial points are not associated with residential addresses, and are only intended to communicate the general area of the listing.</p>
</div>
