<div class="navmenu navmenu-default navmenu-fixed-left offcanvas-sm">
  <a class="navmenu-brand visible-md visible-lg" href="#/">New Orleans Short Term<br> Rental Report</a>
  <ul class="nav navmenu-nav" ng-click="clearSelection()">
    <li><a href="#/home">Home</a></li>
    <li><a href="#/about">About</a></li> 
    <li><a href="#/resources">Bibliography</a></li>
    <li><a href="#/donate">Donate</a></li>
  </ul>
  <hr>
  <div class="menu-area">
    <h5>Active Listing Summary*</h5>
  </div>
  <ul class="infobar">
    <table>
      <tr>
        <td>
          AirBnB:
        </td>
        <td>
          <span ng-bind="airbnbTotal">----</span>
        </td>
      </tr>
      <tr>
        <td>
          Homeaway:
	</td>
	<td>
          <span ng-bind="homeawayTotal">----</span>
	</td>
      </tr>
      <tr>
        <td>
          "Entire home/apt" (AirBnB):
        </td>
        <td>
          <span ng-bind="numEntireHomes">----</span>
        </td>
      </tr>
       <tr>
        <td>
          Multiple-listing renters (AirBnB):
        </td>
        <td>
          <span ng-bind="usersWithMultiListings">----</span>
        </td>
      </tr>
      <tr>
        <td>
          Most N.O. listings by a single user (AirBnB):
        </td>
        <td>
           <span ng-bind-html="mostListings">----</span>
        </td>
      </tr>
      <tr>
        <td>
          Licensed bed and breakfasts: 
        </td>
        <td>
          <span ng-bind="licensedRentals">----</span>
        </td>
      </tr>
    </table>
  </ul>
  <hr>
  <div class="menu-area">
    <h5>Search <b>Airbnb</b> listings by user ID:</h5>
    <form>
      <input id="user-search-bar" type="text" ng-model="userUrl">
      <input ng-click="queryByUserUrl(userUrl)" type="submit" value="Search">
      <input ng-click="clearSelection()" type="submit" value="Clear Map">
    </form>
    <small><i><span ng-bind="searchError"></span></i></small>
  </div>
  <div id="last-update">
    <small>
      Featured data was last updated on <b><span ng-bind="lastUpdate">--/--/----</span></b>.
    </small>
    <br><br>  
    <small>
      *Though the analysis featured in the report references historical data, only active/currently available listings are featured on the map.
    </small>
  </div>
</div>
<div class="navbar navbar-default navbar-fixed-top hidden-md hidden-lg">
  <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-target=".navmenu">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <a class="navbar-brand" href="#/"></a>
</div>
